name: Backend CI

on:
  push: branches:["main"]
  pull_requests: branches:["main"]

jobs:
  build:
    runs-on: ubuntu-latest
  steps:
    - name: Checkout Node
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      run: npm ci
    
